html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: #000;
}

body, h1, h2, h3, h4, h5, p, ul, li, span {
  font-family: arial, helvetica, sans-serif;
  font-size:   1em;
  line-height: 140%;
  color: #ccc;
font-weight: normal;
}

#header {
	color: #ccc;
	background-color:  #333;
	padding: 10px;
	margin: 0;
}

#container {

	min-height: 100%;
	width: 850px;
	margin: 0 auto;
}
#content {
	padding: 10px;
	padding-bottom: 48px;
}
#footer {
	position: absolute;
	bottom: 0;
	padding: 10px;
	background-color: #333;
	width: 830px;
	overflow:  auto;
}
#footer h1 {
	color: #fff;
	padding-bottom: 0;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
	margin: 0 0 10px 0;
}

h3 {
	border-bottom: 1px solid #999;
}
p {
	padding-bottom: 1em;
}

a, a:link, a:visited {	color: #630000; 
	text-decoration: none;
	}

a:focus, a:hover {
	color:	#B00000;
	}

/****************************/
/* Gallery Index Page       */
/****************************/	
#main-gallery {
	width:  850px;
	padding:  0;
	margin:  0;
}

#main-gallery ul {
	margin:  0;
	padding: 0;
	text-indent:  0;
}

#main-gallery li {
	width:252px;
	height:  252px;
	background:#333;
	padding:10px;
	text-align:center;
	position:relative;
	float:left;
	display: inline;
	margin:5px;
	line-height: 252px;	
}

#main-gallery li img {
	vertical-align: middle;
	border:  1px solid #ccc;
	padding:  0;
	margin:  0;
}

/****************************/
/* Gallery Show  Page       */
/****************************/

#footer ul {
	margin:  0 auto;
	padding: 0;
	text-indent: 0;
	white-space: no-wrap;
}

#footer li {
	width:98px;
	height:  98px;
	background:#666;
	padding:5px;
	text-align:center;
	position:relative;
	float:left;
	display: inline;
	margin:2px 5px;
	line-height: 98px;
	white-space: no-wrap	
}

#footer li img {
	vertical-align: middle;
	border:  1px solid #ccc;
	padding:  0;
	margin:  0;
}

/* css styles for record navigation */

#navbar { 
	margin: 10px 0;
	color: #666;
	height: 30px;
}


#navbar a {
    background-color: #ccc;
    padding: 3px 5px;
    border: 1px solid #333;
	text-decoration:  none;
	font-weight:  bold;
}

#navbar a:hover, #navbar a:focus {
    background-color: #666;
 	color:#ffef99;
    border: 1px solid #ccc;
}

/****************************/
/* Main Top Menu            */
/****************************/

#topmenu {
	margin: 0;
	padding: 0;
	position: relative;
	right: 0;
	}


#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 0px;
	}

#nav a {
	display: block;
	background-color: #333;
	color: #ccc;
	padding: 2px 10px 2px 10px;
	text-decoration: none; 
	letter-spacing: 1px;
	
	}
	
#nav li {
	float: left;
	position: relative;
	background-color: #ccc;
	display: inline;
	}	
	
#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
	bottom: auto;
	z-index: 5;
	}
	
#nav li ul li {
	width: 100%;
}	
#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
	}
	
#nav li.selected a {
    background-color: #5ea1c3;	
	}
		
#nav li.selected ul li a {
	background-color: #ccc;
	}
			
#nav li a:focus, #nav li a:hover, #nav li.selected a:focus, #nav li.selected a:hover {
	color: #cf2121;
	background-color: #e6e7e7;
	}

/**********************************/
/* PJ Hyett's Lightbox mod styles */
/**********************************/

#overlay{ 
    background-image: url(/images/overlay.png);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 90;
    width: 100%;
    height: 100%;
}

* html #overlay{
    background-color: #333;
    background-color: transparent;
    background-image: url(blank.gif);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src="/images/overlay.png", sizingMethod="scale");
}

#box{
    width:600px;
    background: #E8E8E8;
    padding:10px;
    border:2px solid #ccc;
}

#close{
    position:absolute;
    top:-5px;
    right:-5px;
    cursor:pointer;
}