<!-- Lightbox divs -->
<div id="overlay" onclick="hideBox()" style="display:none">
</div>

<div id="box" style="display:none">
    <img id="close" src="/images/close.gif" onclick="hideBox()" alt="Close" 
         title="Close this window" />
<div id="innerbox">
</div>
</div>
<!-- End Lightbox divs -->

<%= link_to_remote "Add New Gallery", 	:url => { :action => "new" } %><br />


<% for @gallery in @galleries %>
	<ul id="gallery_list">
		<%= render :partial => "gallery_item" %>
	</ul>
<% end %>